.price {
	background-color: #000;
	color: rgb(254, 209, 4);
	padding: 0.5em 0.7em 0.2em;
	border-radius: 20px;
	font-family: 'Luckiest Guy', cursive;
}

@media screen and (max-width:750px) {
	.price {
		font-size: 9pt;
	}
}