.button {
	border: none;
	padding: 0.7em 1.8em;
	text-transform: uppercase;
	font-family: 'Luckiest Guy', cursive;
	background-color: #eee;
	border-bottom: 5px solid #999;
}

.button.primary {
	color: #fefefe;
	background-color: rgb(61, 143, 49);
	border-bottom-color: rgb(12, 109, 36);
}

.button.secondary {
	color: #fefefe;
	background-color: rgb(241, 147, 25);
	border-bottom-color: rgb(174, 98, 12);
}