.properties-container {
	overflow: auto;
}

.properties {
	background-color: transparent;
	flex: 1;
}

.message-container {
	background-color: #fff;
	height: 100%;
	width: 100%;
	text-align: center;
	box-shadow: 0 1px 4px #151a1d80;
}

.message-container span {
	font-size: 20pt;
	font-weight: bold;
	padding-top: 50px;
	display: block;
	font-family: 'Luckiest Guy', cursive;
}

.results-count {
	margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
    color: #333;
    font-size: 10pt;
}

@media screen and (max-width:1050px) {
	.properties-container {
		overflow: unset;
	}
}